.u-section-1 {
  min-height: 467px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-1 .u-image-1 {
  min-height: 465px;
  background-image: url("images/joshua-tree-national-park-rocks-768x512.jpg");
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 100px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 825px;
  }

  .u-section-1 .u-image-1 {
    min-height: 732px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 82px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 559px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 559px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 63px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 825px;
  }

  .u-section-1 .u-image-1 {
    min-height: 419px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 439px;
  }

  .u-section-1 .u-image-1 {
    min-height: 438px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 276px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 920px;
  margin: -82px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 298px;
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-family: Merriweather, serif;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 759px;
    margin-left: 91px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 194px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 581px;
    margin-left: 69px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 202px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 488px;
    margin-top: -88px;
    margin-bottom: 41px;
    margin-left: 26px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 204px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 38px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 254px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 6px;
    padding-left: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 15px;
    margin-right: 12px;
    margin-left: 18px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 564px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px 0 58px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/AV-browser.png");
  min-height: 462px;
  background-position: 0% 50%;
  animation-duration: 2500ms;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 462px;
}

.u-section-3 .u-shape-1 {
  height: 280px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
  animation-duration: 2500ms;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  animation-duration: 1000ms;
  width: 121px;
  margin: -178px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 618px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 381px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    min-height: 299px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 299px;
  }

  .u-section-3 .u-shape-1 {
    height: 200px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: 79px;
    margin-top: -124px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    min-height: 618px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 306px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 59px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 203px;
    order: 1;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 200px;
    order: 0;
  }

  .u-section-3 .u-shape-1 {
    height: 180px;
  }

  .u-section-3 .u-text-1 {
    width: 128px;
    margin-top: -128px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 650px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 548px;
}

.u-section-4 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-4 .u-shape-1 {
  height: 280px;
  margin-top: 0;
  margin-bottom: 0;
  animation-duration: 2500ms;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  width: 139px;
  animation-duration: 1000ms;
  margin: -178px auto 0;
}

.u-section-4 .u-image-1 {
  background-image: url("images/Nikki_Headshots-72.jpg");
  min-height: 548px;
  background-position: 50% 50%;
  animation-duration: 2500ms;
}

.u-section-4 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-4 .u-group-1 {
  width: 466px;
  min-height: 170px;
  background-image: none;
  height: auto;
  animation-duration: 1000ms;
  margin: 358px 0 0 auto;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-4 .u-text-2 {
  margin: 20px 20px 0 0;
}

.u-section-4 .u-link-1 {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  animation-duration: 1000ms;
  border-style: solid;
  padding-bottom: 2px;
  margin: 8px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 452px;
  }

  .u-section-4 .u-image-1 {
    min-height: 618px;
  }

  .u-section-4 .u-group-1 {
    width: 384px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 16px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-4 .u-link-1 {
    position: relative;
    height: 22px;
    margin-right: 308px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 351px;
  }

  .u-section-4 .u-shape-1 {
    height: 200px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: 92px;
    margin-top: -124px;
  }

  .u-section-4 .u-image-1 {
    min-height: 351px;
  }

  .u-section-4 .u-group-1 {
    width: 294px;
    min-height: 200px;
    margin-top: 0;
    margin-right: -8px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 13px;
  }

  .u-section-4 .u-link-1 {
    margin-right: 236px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 307px;
  }

  .u-section-4 .u-image-1 {
    min-height: 717px;
  }

  .u-section-4 .u-group-1 {
    width: 313px;
    min-height: 343px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-4 .u-link-1 {
    margin-right: 177px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 197px;
  }

  .u-section-4 .u-shape-1 {
    height: 180px;
  }

  .u-section-4 .u-text-1 {
    width: 137px;
    margin-top: -128px;
  }

  .u-section-4 .u-image-1 {
    min-height: 279px;
    background-position: 47.98% 50%;
  }

  .u-section-4 .u-group-1 {
    width: 303px;
    min-height: 192px;
    margin-top: 129px;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 6px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 14px;
    margin-right: 6px;
  }

  .u-section-4 .u-link-1 {
    margin-top: 16px;
    margin-right: 184px;
  }
}